# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [4]:
import pandas as pd
import numpy as np

In [5]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [29]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
    # Retorne aqui o resultado da questão 1.
    observacoes = len(black_friday)
    colunas = len(black_friday.columns)
    resq1 = (observacoes, colunas)
    print(resq1)
    return resq1
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [16]:
def q2():
    # Retorne aqui o resultado da questão 2.
    f2635 = black_friday[(black_friday['Gender']=='F') & (black_friday['Age']=='26-35')]
    #f2635_unique = f2635['User_ID'].nunique()
    f2635_unique = len(f2635['User_ID'])
    print(f2635_unique)
    return f2635_unique
    pass

In [17]:
q2()

49348

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [3]:
def q3():
    # Retorne aqui o resultado da questão 3.
    unique_users = black_friday['User_ID'].nunique()
    print(unique_users)
    return unique_users
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [28]:
def q4():
    # Retorne aqui o resultado da questão 4.
    tipos_dados = black_friday.dtypes.value_counts()
    num_tipos_dados = len(tipos_dados)
    print(num_tipos_dados)
    return num_tipos_dados
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [46]:
def q5():
    # Retorne aqui o resultado da questão 5.
    null_columns=black_friday.columns[black_friday.isnull().any()]
    perc_isnan = len(black_friday[black_friday.isnull().any(axis=1)][null_columns]) / len(black_friday)
    return perc_isnan
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [86]:
def q6():
    null_columns=black_friday.columns[black_friday.isnull().any()]
    nulls = max(black_friday[null_columns].isnull().sum().values)
    print(nulls)
    return int(nulls)
    # Retorne aqui o resultado da questão 6.
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [33]:
def q7():
    # Retorne aqui o resultado da questão 7.
    max_freq = black_friday['Product_Category_3'].value_counts().idxmax()
    return max_freq
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [127]:
def q8():
    # Retorne aqui o resultado da questão 8.
    purchase_norm = ((black_friday["Purchase"]-black_friday["Purchase"].min())/(black_friday["Purchase"].max()-black_friday["Purchase"].min()))*1
    purchase_norm_mean = purchase_norm.mean()
    print(purchase_norm_mean)
    return purchase_norm_mean
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [149]:
def q9():
    # Retorne aqui o resultado da questão 9.
    mean = black_friday.Purchase.mean()
    std = black_friday.Purchase.std()
    purchase_pad = (black_friday.Purchase - mean) / std
    pad_nums = ((-1 < purchase_pad) & (purchase_pad < 1)).sum()
    print(pad_nums)
    return int(pad_nums)
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [222]:
def q10():
    # Retorne aqui o resultado da questão 10.
    test1 = black_friday[black_friday['Product_Category_2'].isna() & (black_friday['Product_Category_3'].isna())]
    res_test1 = len(test1)
    test2 = black_friday[black_friday['Product_Category_2'].isna()]
    res_test2 = len(test2)
    res_fim = bool(res_test1 == res_test2)
    print(res_fim)
    return res_fim
    pass

In [223]:
q10()

True

True

In [185]:
black_friday[black_friday['Product_Category_2'].isna() & (black_friday['Product_Category_3'].isna())]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
...,...,...,...,...,...,...,...,...,...,...,...,...
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172